html, body{
    width: 100%;
    height: 100%;
    position: relative;
    margin: 0;
    padding: 0;
    overflow:hidden;
}

#return{
    position: absolute;
    top: 3%;
    padding: 1%;
    background-color: transparent;
    color: black;
    border: none;
    font-weight: 600;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: calc(12px + 0.5vw);
    background-image: url("woodbg.jpg");
    filter: hue-rotate(340deg);
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    border: 2px solid black;
    border-left: none;
    z-index: 3;
}
#return:hover{
    filter: hue-rotate(0);
    border: 2px solid gray;
    border-left: none;
}
/* Home Page*/
.page1{
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    margin: 0;
    padding: 0;
    background-image: url("plantbg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
/* Plant Page*/
.page2{
    width: 100%;
    height: 100%;
    overflow: visible;
    display: flex;
    position: relative;
    margin: 0;
    padding: 0;
    background-image: url("plantbg2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
/* Service Page*/
.page3{
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
    background-color: rgb(143, 216, 143);
    background-image: url("bamboo.jpg");
    margin: 0;
    padding: 0;
}

/*Login Page*/
.page4{
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
    margin: 0;
    padding: 0;
    background-image: url('islandbg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

/* Page 1 */
#navbar{
    position: absolute;
    display: flex;
    right: 0;
    top: 2vh;
    width: 90%;
    margin: 0;
    padding-right: 3%;
    justify-content: right;
}
.butholder{
    margin-left: 1%;
    margin-right: 1%;
}
.navbut{
    background-color: transparent;
    color: black;
    border: none;
    font-weight: 600;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: calc(12px + 0.5vw);
}
.butholder:hover{
    background-image: url("woodbg.jpg");
    filter: hue-rotate(340deg);
    border-radius: 25px;
    border: 2px solid black;
}
#logo{
    width: 120px;
    height: 120px;
    min-width: 80px;
    min-height: 80px;
    margin-right: 20px;
}
#name{
    position: absolute;
    left: 0;
    top: 10vh;
    margin-left: 2%;
    font-size: calc(40px + 1vw);
    font-family: 'Lobster', serif;
    font-weight: 800;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(0, 0, 0);
}
#desc{
    position: absolute;
    right: 0;
    top: 35vh;
    width: 60vw;
    min-width: 300px;
    background-image: url("woodbg.jpg");
    background-size: cover;
    border: 4px solid saddlebrown;
    border-top-left-radius: 20vw;
    border-bottom-left-radius: 20vw;
    border-right: none;
}
#team{
    position: absolute;
    right: 0;
    top: 65vh;
    width: 60vw;
    min-width: 300px;
    background-image: url("woodbg.jpg");
    filter: hue-rotate(10deg);
    background-size: cover;
    border: 4px solid saddlebrown;
    border-top-left-radius: 20vw;
    border-bottom-left-radius: 20vw;
    border-right: none;
}

#slogan{
    font-weight: 600;
    margin-left: 9vw;
    margin-top: 2vh;
    width: 80%;
    font-size: calc(12px + 1vw);
    color: black;
    text-shadow: 1px 1px 1px black, 2px 2px 1vw rgb(203, 145, 36), 3px 3px 2vw gray;
    font-family: 'Lora', serif;
}

#desc-text{
    width: 80%;
    margin-left: 8vw;
    font-weight: 800;
    font-size: calc(12px + 0.7vw);
    color: black;
    text-shadow: 1px 1px 1px rgb(96, 95, 95);
    font-family: "EB Garamond", serif;
}

/* Page 2 */
#search{
    position: absolute;
    top: 12%;
    margin-right: 5%;
    margin-left: 5%;
    width: 90%;
    height: 40px;
    border: solid 2px black;
    border-radius: 25px;
    background-image: url("bamboo.jpg");
    background-size: 500px;
    background-position-x: 200px;
}
#s1{
    float: left;
    width: 20%;;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    margin-left: 2%;
    margin-right: 2%;
}
#s2{
    float: right;
    display: flex;
    align-items: center;
    width: 76%;
    height: 40px;
}
#searchtitle{
    margin-left: 2%;
    margin-right: 2%;
    font-weight: 600;
    font-family: 'Times New Roman', Times, serif;
    color: wheat;
    text-shadow: 1px 1px 1px black;
}
#searchinput{
    height: 36px;
    width: 100%;
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
    font-family: 'Lucida Sans';
    font-size: 24px;
}

#result{
    background-color: rgba(191, 222, 249, 0.329);
    position: absolute;
    margin-left: 4%;
    margin-right: 4%;
    top: 22%;
    width: 90%;
    height: 70%;
    border: solid 2px seagreen;
    padding: 1%;
    overflow-y: scroll;
}

/* Page 3 */
#topbg2{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 15%;
    width: 100%;
    background-image: url("plantbg3.jpg");
    border-bottom: double black 5px;
    background-size: cover;
    z-index: 1;
}
#assembletxt{
    font-size: calc(30px + 2vh);
    text-shadow: 1px 1px 1px black, 2px 2px 1.5px white;
    font-family: 'Lobster';
    color: rgb(112, 112, 112);
}
#instruction{
    position: absolute;
    background-color: rgba(86, 188, 117, 0.671);
    border: green solid 2px;
    width: 90%;
    top: 20%;
    height: 75%;
    left: 5%;
    margin: 0;
    padding: 0;
    overflow-y: scroll;
}
#requestheaderbg{
    position: absolute;
    width: 100%;
    height: 30%;
    background-image: url("woodbg2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
    border-bottom: solid black 3px;
}
#line{
    border: black solid 3px;
    color: black;
}
#input-name{
    font-size: 24px;
    text-shadow: 1px 1px 1px gray;
    font-weight: 700;
}

#requestinfo{
    font-family: 'Permanent Marker';
    font-size: calc(12px + 1vw);
    font-weight: 600;
    text-shadow: 1px 1px 1px gray;
}

#requestform{
    left: 5%;
    width: 90%;
    position: absolute;
    top: 30%;
    margin-top: 3vh;
}
#requesttxt{
    margin: 0;
    font-size: calc(14px + 0.7vw);
    font-weight: 600;
    font-family: "EB Garamond";
}
.inputboxreq{
    height: 25px;
    min-height: 10px;
    width: 70vw;
    margin: 0;
    background-image: url("greengradientbg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: black;
    border: 2px solid black;
    border-radius: 5px;
    font-family: "EB Garamond";
    font-weight: 700;
    text-align: center;
    font-size: calc(8px + 2vh);
}
#submitreq{
    margin-top: 3%;
    width: 200px;
    height: 50px;
    background-image: url("woodbg.jpg");
    font-family: 'Permanent Marker';
    font-size: 16px;
    text-shadow: 1px 1px 1px gray;
    border-radius: 15px;
    border: solid 2px black;
}
/* Page 4 */
#topbg{
    position: absolute;
    height: 15%;
    width: 100%;
    background-image: url("woodplankbg.jpg");
    border-bottom: double black 5px;
    background-size: cover;
    z-index: 1;
}
#contact{
    text-shadow: 1px 1px 1px white;
    font-family: 'Lobster';
    font-size: calc(30px + 2vh);
}
#inputinfo{
    position: absolute;
    top: 15%;
    height: 85%;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    border-left: 2px solid black;
    border-right: 2px solid black;
    overflow-y: scroll;
    background:rgba(76, 167, 247, 0.534)
}
#contacttxt{
    font-family: 'Audiowide';
    font-size: calc(8px + 2vh);
    text-shadow: 1px 1px 1px gray;
}
.inputbox{
    height: 25px;
    width: 70vw;
    background-color: rgba(180, 180, 180, 0.749);
    color: black;
    border: 3px solid black;
    font-family: "EB Garamond";
    font-weight: 500;
    border-radius: 10px;
    text-align: center;
    font-size: 16px;
}
.inputbox2{
    height: 120px;
    width: 70vw;
    background-color: rgba(180, 180, 180, 0.749);
    color: black;
    border: 3px solid black;
    font-family: "EB Garamond";
    font-weight: 500;
    border-radius: 25px;
    text-align: center;
    font-size: 16px;
}
#submit{
    margin-top: 5%;
    width: 200px;
    height: 50px;
    background-image: url("gradientbg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 18px;
    font-weight: 700;
    font-family: "Permanent Marker", Serif;
    text-shadow: 1px 1px 1px gray;
    border-radius: 15px;
    border: solid 2px black;
}
#submitted{
    display: none;
}
#submittxt{
    font-family: 'Permanent Marker';
    font-size: calc(36px + 2vw);
    text-shadow: 1px 1px 1px gray;
}
